.banner-image{
    display: grid;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 70vh;
    background-image: url(almani-aXtYkEMJih4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Serif Pro', serif;
}

.text1{
    min-height: 25vh;
}

.link-image{
    transition: 0.3s;
}

.link-image:hover{
    padding: 5px;
    transition: 0.3s;
    background-color: black;
    border: black;
}
.img__wrap {
    position: relative;
    height: auto;
    width: auto;
  }

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}  

.img__wrap::after{
    background: rgba(0, 0, 0, 0.9);
}

.card_bikes{
    background-color: rgb(26, 24, 24);
}

.text2{
    color: white;
    font-size: 20vh;
    -webkit-text-stroke: 2px rgb(24, 22, 22); /* width and color */
    text-align: center;
}

.text3{
    font-size: 32px;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    -webkit-text-stroke: 0.7px black;
}

.text4{
    text-align: justify;
    text-justify: inter-word;
}

.text5{
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
}

.image{
    height: auto;
    width: auto;
    min-width: 400px;
    min-height: 400px;
}

.dark{
    background-color: black;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(103, 100, 100); 
  }